---
import "../components/game.scss";

import { Image } from 'astro:assets';
import { getCollection, getEntry, render } from 'astro:content';
import slugify from 'slugify';
import Downloads from "../components/Downloads.astro";
import Embed from "../components/Embed.astro";
import { getImg } from "../components/images";
import Layout from '../components/Layout.astro';

export async function getStaticPaths() {
	return (await getCollection('games')).map((game) => ({
		params: {
			id: game.id,
		},
	}));
}

const entry = (await getEntry('games', Astro.params.id));
if (!entry) throw new Error('could not find game');
const { data: game } = entry;
const [
	{ Content },
	banner,
	border,
	bgImage,
	social,
	icon,
	preview,
] = await Promise.all([
	render(entry),
	getImg(`/${entry.filePath?.replace('.mdx', '-banner') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-border') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-bg') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-social') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-icon') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-preview') || ''}`),
]);
---

<Layout
	title={game.title}
	description={game.description || ''}
	image={social || `assets/covers/${slugify(game.title, { strict: true })}.png`}
	css={game.css}
	bgImage={bgImage}
	border={border}
	icon={icon || `assets/covers/${slugify(game.title, { strict: true })}.png`}
>

<main>
	<h1>{
		banner ? <Image src={banner} alt={game.title} loading="eager" /> : game.title
	}</h1>

	{game.embed && <Embed embed={game.embed} />}
	{!game.embed && (preview || social) && <div class="preview"><Image src={(preview || social) as ImageMetadata} width={720} alt={`Preview image for ${game.title}`} /></div>}
	<Downloads downloads={game.downloads} />
	<section class="description"><Content /></section>
</main>
</Layout>
