---
import "../layouts/game.css";

import slugify from 'slugify';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';
import { Image } from 'astro:assets';

const banners = Object.fromEntries(Object.entries(import.meta.glob<{ default: ImageMetadata }>(
	"/src/data/games/*-banner.{jpeg,jpg,png,gif,webp}",
)).map(([k,v]) => [k.split('.').slice(0,-1).join('.'), v]));
const bgs = Object.fromEntries(Object.entries(import.meta.glob<{ default: ImageMetadata }>(
	"/src/data/games/*-bg.{jpeg,jpg,png,gif,webp}",
)).map(([k,v]) => [k.split('.').slice(0,-1).join('.'), v]));
const socials = Object.fromEntries(Object.entries(import.meta.glob<{ default: ImageMetadata }>(
	"/src/data/games/*-social.{jpeg,jpg,png,gif,webp}",
)).map(([k,v]) => [k.split('.').slice(0,-1).join('.'), v]));

export async function getStaticPaths() {
	return (await getCollection('games')).map((game) => ({
		params: {
			id: game.id,
		},
	}));
}

const entry = (await getEntry('games', Astro.params.id));
if (!entry) throw new Error('could not find game');
const { data: game } = entry;
const Content = (await render(entry)).Content;

const banner = (await banners[`/${entry.filePath?.replace('.mdx','-banner') || ''}`]?.())?.default;
const bgImage = (await bgs[`/${entry.filePath?.replace('.mdx','-bg') || ''}`]?.())?.default;
const social = (await socials[`/${entry.filePath?.replace('.mdx','-social') || ''}`]?.())?.default || `assets/covers/${slugify(game.title, { strict: true })}.png`;
---

<Layout
	title={game.title}
	description={game.description || ''}
	image={social}
	bgColor={game.bg}
	bgImage={bgImage}
>

<h1>{
	banner ? <Image src={banner} alt={game.title} loading="eager" /> : game.title
}</h1>

<section>
	{game.embed && <iframe src={game.embed} />}
</section>
<section>
	<Content />
</section>

{
	(game.downloads?.length ?? 0 > 0) && (
		<h2>Download</h2>
		<ul>
			{game.downloads?.map(i => (
				<li>
					<a href={i}>{i.split('/').filter(i => i).pop()}</a>
				</li>
			))}
		</ul>
	)
}
</Layout>
