---
import "../layouts/game.css";

import slugify from 'slugify';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';
import { Image } from 'astro:assets';
import { getImg } from "../components/images";

export async function getStaticPaths() {
	return (await getCollection('games')).map((game) => ({
		params: {
			id: game.id,
		},
	}));
}

const entry = (await getEntry('games', Astro.params.id));
if (!entry) throw new Error('could not find game');
const { data: game } = entry;
const [
	{ Content },
	banner,
	border,
	bgImage,
	social = `assets/covers/${slugify(game.title, { strict: true })}.png`
] = await Promise.all([
	render(entry),
	getImg(`/${entry.filePath?.replace('.mdx', '-banner') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-border') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-bg') || ''}`),
	getImg(`/${entry.filePath?.replace('.mdx', '-social') || ''}`),
]);
---

<Layout
	title={game.title}
	description={game.description || ''}
	image={social}
	css={game.css}
	bgImage={bgImage}
>

<main style={{
	borderImageSource: border ? `url("${border.src}")` : undefined,
	borderInlineWidth: border ? `${border.width / 2}px` : undefined,
}}>
	<h1>{
		banner ? <Image src={banner} alt={game.title} loading="eager" /> : game.title
	}</h1>

	<section>
		{game.embed && <iframe src={game.embed} />}
	</section>
	<section>
		<Content />
	</section>

	<section class="downloads">
	{
		(game.downloads?.length ?? 0 > 0) && (
			<h2>Download</h2>
			<ul>
				{game.downloads?.map(i => (
					<li>
						<a href={i}>{i.split('/').filter(i => i).pop()}</a>
					</li>
				))}
			</ul>
		)
	}
	</section>
</main>
</Layout>
