---
import slugify from 'slugify';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';

export async function getStaticPaths() {
	return (await getCollection('games')).map((game) => ({
		params: {
			id: game.id,
		},
	}));
}

const entry = (await getEntry('games', Astro.params.id));
if (!entry) throw new Error('could not find game');
const { data: game } = entry;
const Content = (await render(entry)).Content;
---

<Layout
	title={game.title}
	description={game.description || ''}
	image={`assets/covers/${slugify(game.title, { strict: true })}.png`}
>

<h1>{game.title}</h1>
<section>
	{game.embed && <iframe src={game.embed} />}
</section>
<section>
	<Content />
</section>

{
	(game.downloads?.length ?? 0 > 0) && (
		<h2>Download</h2>
		<ul>
			{game.downloads?.map(i => (
				<li>
					<a href={i}>{i}</a>
				</li>
			))}
		</ul>
	)
}
</Layout>
