---
import { readMediaAttributes } from "leather";
import type { Game } from "../games";

type Props = Game;
const {
	title,
	tagline,
	description,
	url,
	urlVideo,
	urlPoster,
} = Astro.props;

const { width, height } = urlVideo ? readMediaAttributes(`./public/${urlVideo}`) : { width: 0, height: 0 };

---
<section class="content game">
	{urlVideo && <div class="vidwrapper"><a href={url} aria-label={`${title} - video preview - click to play`}><video preload="auto" autoplay="autoplay" loop="loop" muted="muted" width={width} height={height} poster={urlPoster}><source src={urlVideo} type="video/mp4" /></video></a></div>}
	<div class="textwrapper">
		<h2>{title}</h2>
		<p>{tagline}</p>
		{description && <p set:html={description} />}
		<p><span class="playnow"><a href={url}>Play now</a></span></p>
	</div>
</section>
